*{
    box-sizing: border-box;
}

html,body{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
}



.bubble{
    margin-top: 40px;
    width: 420px;
   
}