*{
    box-sizing: border-box;
}

html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Red Hat Display', sans-serif;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 391px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
}



.bubble{
    margin-top: 80px;
    width: 420px;
   
}

#intro_section{
    width: 375px;
    text-align: center;
}

#intro_section h1{
    font-size: 40px;
    color: #28283d;
    font-weight: 900;
}

#intro_section p{
    color: #87879D;
    font-size: 18px;
}