*{
    box-sizing: border-box;
}

.img_holder{
    display: none;
}

html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Red Hat Display', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

header{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    overflow: hidden;
}



.bubble{
    margin-top: 40px;
    width: 375px;
   
}

#intro_section{
    width: 375px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro_section h1{
    font-size: 40px;
    color: #28283d;
    font-weight: 900;
    margin-bottom: 15px;
    line-height: 1em;
   
}

#intro_section p{
    color: #87879D;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 0px;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    display: inline-block;
    text-decoration: none;
}

.turq{
    color: #FAFAFA;
    background-color:#4D96A9 ;
    padding: 17px 35px;
    border-radius: 25px;
    font-weight: bold;
}

.turq:hover{
    background-color:#70a5b1;
}

.purp:hover{
    background-color: #b585eb;
}

.purp{
    color: #FAFAFA; 
    background-color: #855FB1;
    width: 120px;
    padding: 15px 12px;
    border-radius: 25px;
    margin-top: 15px;
    font-weight: bold;
}

.faded{
    color: #8FE3F9;
}

#second_section{
    display: flex;
    flex-direction: column;
    width: 375px;
    align-items: center;
    position: relative;
  
}

.vertical {
    border-left: 1px solid #b8a9a9;
    height: 90px;
    margin-top: 40px;
}

.circle{
    color: #87879D;
    border: 1px solid #b8a9a9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 13px;
    font-weight: bold;
  
   
}

#images{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 375px;
}

.imageblock{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    
}

.cube{
    display: inline-block;
    width: 150px;
    border-radius: 10px;
    
}

.imageblock:nth-child(2){
    margin-top: 20px;
}

#words{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

 .grey{
color: #87879D;
line-height: 1.5em;
font-size: 18px;
}

.boldblue{
   color: #4D96A9;
   font-weight: 900;
   letter-spacing: 5px;

    
}

#words h2{
    font-size: 30px;
    color: #28283d;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 0px;
}

#third_section{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

footer{
    width: 100%;
    background-image: url('imgs/mobile/image-footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 60px;
    
   
}

.layer {
    background-color: hsl(192, 37%, 48%, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   
}

footer h2, p{
    color: #fff;
    z-index: 10;
}

footer p{
    margin-bottom: 30px;
}



.bottompurp{
    color: #FAFAFA;
    padding: 17px 35px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #855FB1;
    z-index: 10;
}

.purpfaded{
    color: #D9B8FF;
}

.bottompurp:hover{
    background-color: #b585eb;
}

.btmcircle{
    color: #87879D;
    border: 1px solid #b8a9a9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 13px;
    font-weight: bold;
    position: absolute;
    top: 107px;
    z-index: 99;
    background-color: #fff;
}
.verticalbtm {
    border-left: 1px solid #b8a9a9;
    height: 100px;
    margin-top: 40px;
   
    
}

footer h2{
    font-size: 30px;
    margin-bottom: 0px;
   
}

@media screen and (min-width:768px) {
    #intro_section{
        width: 768px;
    }

    #intro_section h1{
        font-size: 50px;
    }
    
    
    header{
        width: 768px;
    }

    header .bubble{
        width: 768px;
    }

    #intro_section p{
        width: 500px;
    }

    #buttons{
        justify-content: center;
        flex-direction: row;
        width: 500px;
    }

    .purp{
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: 3px;
        
    }

    #second_section{
        width: 768px;
    }

    #images{
        width: 768px;
        flex-direction: row;
      
    }

    .cube{
        width: 180px;
    }

    .imageblock:nth-child(1){
        margin-top: 20px;
    }


    footer{
        background-image: url('imgs/tablet/image-footer.jpg');
        width: 100%;
    }

    #words h2{
        font-size: 45px;
    }

  .grey{
      width: 600px;
  }

  footer p{
      width: 500px;
  }
   

}

@media screen and (min-width:1440px){
    .bubble{
        display:none
    }

    footer{
        background-size: url('imgs/desktop/image-footer.jpg');
        flex-direction: row;
        background-position: right;
        text-align: left;
        justify-content: space-evenly;
    }

    footer h2{
        width: 300px;
        margin-top: 0px;
        
    }

    footer p{
        width: 300px;
        margin-right: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}